.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.container {
  display: flex;
  justify-content: space-between;
}
.left {
  order:1;
  flex:1;
}
.right {
  order:2;
  flex:1;
}

.list {
  list-style-type: none;
}

.heading {
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}
.center {
  text-align: center;
}
